@model Project_WebDuLich.Models.User
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Space Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />

    <!-- Thêm các file CSS từ template Space Login -->
    <link href="~/asset/css/styleLogin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
    <!-- main -->
    <div class="main">
        <div class="main-w3l">
            <div class="w3layouts-main">
                <h2><span>Đăng nhập</span></h2>

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new
                        {
                            @class = "form-control",
                            placeholder = "Nhập tên đăng nhập",
                            required = ""
                        })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PasswordHash)
                        @Html.PasswordFor(m => m.PasswordHash, new
                        {
                            @class = "form-control",
                            placeholder = "Nhập mật khẩu",
                            required = ""
                        })
                        @Html.ValidationMessageFor(m => m.PasswordHash)
                    </div>

                    <div class="form-options">
                        <div class="forgot">
                            <a href="#">Quên mật khẩu?</a>
                        </div>
                    </div>

                    <button type="submit" class="login-button">Đăng nhập</button>

                    <p style="color:red; text-align: center; margin-top: 20px;">@ViewBag.Message</p>
                }
            </div>

            <!--footer-->
            <div class="footer-w3l">
                <p>&copy; Chào mừng bạn đến với cửa hàng của chúng tôi |Lò Văn Anh  </p>
            </div>
            <!--//footer-->
        </div>
    </div>
</body>
</html>