@model Project_WebDuLich.Models.Tours
@{
    ViewBag.Title = "Xoá Tour";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>🗑️ Xác nhận xoá Tour</h2>

<h4>Bạn có chắc chắn muốn xoá Tour: <strong>@Model.TourName</strong> không?</h4>
<dl class="dl-horizontal">
    <dt>Địa điểm</dt>
    @*<dd>@Model.Location</dd>*@

    <dt>Giá</dt>
    <dd>@Model.Price.ToString("N0") VNĐ</dd>

    <dt>Thời gian</dt>
    <dd>@Model.Duration ngày</dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Xoá</button>
    @Html.ActionLink("Huỷ", "Index", null, new { @class = "btn btn-secondary" })
}
